<!DOCTYPE html>
<html>

    <head>

        <title>Home Screen</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>

        <div class="grid-container">

            <header class="row">

                <div>
                    <a class="brand" href="auction">Auction Portal</a>
                </div>

                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign-In</a>
                </div>
            </header>

            <main>

                <div>

                    <div class="row center">

                        <div class="card">

                            <a href="player.html">
                                <img class="medium" src="./images/d1.png" alt="d1">
                            </a>

                            <div class="card-body">

                                <a href="player.html">
                                    <h2>Virat Kohli</h2>
                                </a>

                                <div class="profile">
                                    <h2>Bastmen</h2>
                                    <h3>India</h3>
                                </div>

                                <div class="price">
                                    <h2> Base Price: 2 Crores </h2>
                                </div>
                            </div>
                        </div>

                        <div class="card">

                            <a href="player.html">
                                <img class="medium" src="./images/d2.png" alt="d1">
                            </a>

                            <div class="card-body">

                                <a href="player.html">
                                    <h2>MS Dhoni</h2>
                                </a>

                                <div class="profile">
                                    <h2>Keeper</h2>
                                    <h3>India</h3>
                                </div>

                                <div class="price">
                                    <h2> Base Price: 2 Crores </h2>
                                </div>
                            </div>
                        </div>

                        <div class="card">

                            <a href="player.html">
                                <img class="medium" src="./images/d3.png" alt="d1">
                            </a>

                            <div class="card-body">

                                <a href="player.html">
                                    <h2>Rohit Sharma</h2>
                                </a>

                                <div class="profile">
                                    <h2>Batsman</h2>
                                    <h3>India</h3>
                                </div>

                                <div class="price">
                                    <h2> Base Price: 2 Crores </h2>
                                </div>
                            </div>
                        </div>

                        <div class="card">

                            <a href="player.html">
                                <img class="medium" src="./images/d4.png" alt="d1">
                            </a>

                            <div class="card-body">

                                <a href="player.html">
                                    <h2>Eoin Morgan</h2>
                                </a>

                                <div class="profile">
                                    <h2>Bastmen</h2>
                                    <h3>England</h3>
                                </div>

                                <div class="price">
                                    <h2> Base Price: 1.5 Crores </h2>
                                </div>
                            </div>
                        </div>

                        <div class="card">

                            <a href="player.html">
                                <img class="medium" src="./images/d5.png" alt="d1">
                            </a>

                            <div class="card-body">

                                <a href="player.html">
                                    <h2>Steve Smith</h2>
                                </a>

                                <div class="profile">
                                    <h2>Bastmen</h2>
                                    <h3>Australia</h3>
                                </div>

                                <div class="price">
                                    <h2> Base Price: 1.5 Crores </h2>
                                </div>
                            </div>
                        </div>

                        <div class="card">

                            <a href="player.html">
                                <img class="medium" src="./images/d6.png" alt="d1">
                            </a>

                            <div class="card-body">

                                <a href="player.html">
                                    <h2>David Warner</h2>
                                </a>

                                <div class="profile">
                                    <h2>Bastmen</h2>
                                    <h3>Australia</h3>
                                </div>

                                <div class="price">
                                    <h2> Base Price: 2 Crores </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer class="row center">
                All Rights Reserved
            </footer>
        </div>

    </body>
</html>